{
    "mcpServers": {
        "time": {
            "command": "uvx",
            "args": [
                "mcp-server-time",
                "--local-timezone=America/New_York"
            ]
        },
        "Fetch": {
            "command": "uvx",
            "args": [
                "mcp-server-fetch"
            ],
            "env": {}
        },
        "amap-maps": {
            "command": "npx",
            "args": [
                "-y",
                "@amap/amap-maps-mcp-server"
            ],
            "env": {
                "AMAP_MAPS_API_KEY": "your api key"
            }
        },
        "DuckDuckGo Search Server": {
            "command": "uvx",
            "args": [
                "duckduckgo-mcp-server"
            ],
            "env": {}
        }
    }
}